/* Global container */
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    font-family: "Chivo", sans-serif;
    line-height: 1.6;
    padding: 0;
  }
  
  /* Main content */
  .main-content-div {
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Title */
  .title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 5vh;
    color: #008000;
  }
  .chestii-tot {
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 999;
  }
  .description {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  /* Intervention section */
  .intervention {
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 4% 2%;
    padding-right: 10%;
    border-radius: 5vh;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 8vh;
  }
  
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 800;
    color: #008000;
  }
  
  .intervention-list {
    margin-left: 20px;
    list-style-type: disc;
  }
  
  /* Map section */
  .map-section {
    margin-bottom: 10vh;
  }
  
  .map-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
  
  .map-legend {
    text-align: center;
    margin-top: 1rem;
  }
  
  .legend-green {
    color: green;
  }
  
  .legend-blue {
    color: blue;
  }
  
  .legend-red {
    color: red;
  }
  
  /* Services section */
  .services {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 10%;
  }
  
  .service-card {
    flex: 1;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  
  .service-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 600;
    color: #008000;
    margin-left: 5%;
    border-radius: 8px;
    margin-right: 5%;
    box-sizing: border-box;
    padding: 2% 3%;
  }
  
  .service-list {
    list-style-type: disc;
    text-align: center;
    font-size: 0.9rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .highlight-green {
    color: #008000;
    font-weight: 700;
  }

  .service-texts {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  

  .upper-side {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: none;
  }

  .harta-romaniei {
    position: relative;
    width: 90%;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: none;
    margin: 0 auto;
    fill: white;
    stroke: black;
    stroke-width: .3px;
    margin-left: 5%;
    padding-left: 10%;
  }

  .eveniment-judet {
    display: none;
    width: 50vw;
    height: auto;
    background-color: rgb(243, 243, 243);
    color: black;
    position: fixed;
    top: 20vh;
    left: 25vw;
    right: 25vw;
    z-index: 9999;
    border-radius: 8px;
    padding: 5vh 5vw;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }

  .serviciu-social-highlight {
    color: #1DAEEF;
    font-weight: 700;
  }

  .serviciu-juridic-highlight {
    color: #00A500;
    font-weight: 700;
  }

  .close-button-event {
    float: right;
    font-weight: 500 !important;
    padding: 5px 20px !important;
    border: 2px solid green !important;
    border-radius: 30px !important;
    transition: background-color 0.3s !important;
  }

  .close-button-event:hover {
    color: white;
    background-color: green;
  }

  .serviciu-dezastre-highlight {
    color: #F40014;
    font-weight: 700;
  }

  .eveniment-judet-text {
    font-size: 1.5rem;
    font-weight: 800;
    color: #008000;
  }

  .harta-buton {
    cursor: pointer;
    fill: white;
  }

  .harta-buton:hover {
    fill: rgb(242, 255, 222);
  }

  #green-pin {
    fill: #00A500;
  }

  #red-pin {
    fill: #F40014;
  }

  #blue-pin {
    fill: #1DAEEF;
  }

  #Legenda {
    stroke: none;
    fill: black;
  }

  #blue_00000065753709190977333940000007931203685532145835_ {
    fill: #1DAEEF;
    stroke: black;
  }

  #blue_00000071557122348622784080000001949003724375887278_ {
    fill: #00A500;
    stroke: black;
  }

  #blue_00000029761336745988867740000000458534418561085108_ {
    fill: #F40014;
    stroke: black;
  }
  

  @media (max-width: 768px) {
    .harta-romaniei {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50vh;
    }

    .eveniment-judet {
      width: 80vw;
      left: 10vw;
      right: 10vw;
    }
  }
