.top {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 6vh;
  text-align: center;
  padding: 3% 2%;
  background-color: #00800040;
  border-radius: 1vh;
}

.bottom {
  position: fixed;
  width: 25%;
  height: 7vh;
  border-radius: 1vh;
  bottom: 5%;
  right: 5%;
  font-size: 1.5vh;
  text-align: center;
  box-sizing: border-box;
  padding-left: 1%;
  padding-top: .5%;
  padding-right: 1%;
  background-color: #00800040;
}


.input-user {
  position: fixed;
  width: 19.5%;
  height: 5vh;
  border-radius: 1vh;
  bottom: 13%;
  right: 10%;
  font-size: 2vh;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  padding-left: .5%;
  padding-top: 1.2%;
  padding-right: 1%;
  background-color: white;
  box-shadow: none;
}

.send-btn {
  position: fixed;
  width: 4%;
  height: 6vh;
  border-radius: 1vh;
  bottom: 14%;
  right: 5.5%;
  font-size: 2vh;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  background-color: #008000;
  color: white;
  box-shadow: none;
}

.top-bot-icon {
  position: fixed;
  bottom: 54vh;
  right: 25%;
  height: 20vh;
  width: 20vh;
  background-image: url("../images/horia-png.png");
  background-size: cover;
}

.top-logo {
  position: fixed;
  bottom: 55vh;
  right: 5%;
  height: 10vh;
  width: 10vh;
  background-image: url("../images/LOGO-HOH.png");
  background-size: cover;
}

.conversation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-left: 2%;
  font-size: 1.7vh;
  margin-right: 2%;
}

.bot-message {
  background-color: white;
  width: 68%;
  margin-right: 28%;
  padding: 1%;
  border-radius: 1vh;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.338);
  margin-top: 3%;
}

.human-message {
  background-color: #00800030;
  width: 68%;
  margin-left: 32%;
  padding: 1%;
  border-radius: 1vh;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.338);
  margin-top: 3%;
}

.typing span {
  display: inline-block;
  font-size: 1.7vh;
  animation: blink 1s infinite;
}

.typing span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 .chatBot-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 15vh;
  width: 25vh;
  background-image: url("../images/discuta-horia.png");
  background-size: cover;
  background-position: center;
  z-index: 99999;
  cursor: pointer;
  animation: slide 40s infinite;
 }

 @keyframes slide {
  0% { bottom: -25vh; }
  3% { bottom: 5%; }
  6% { right: 6%; }
  7% { right: 5%; }
  8% { right: 6%; }
  9% { right: 5%; }
  10% { right: 6%; }
  11% { right: 5%; }
  12% { right: 6%; }
  13% { right: 5%; }
  14% { right: 6%; }
  15% { right: 5%; }

  21% { right: 5%; }
  22% { right: 6%; }
  23% { right: 5%; }
  24% { right: 6%; }
  25% { right: 5%; }
  26% { right: 6%; }
  27% { right: 5%; }
  28% { right: 6%; }
  29% { right: 5%; }
  30% { right: 6%; }
  31% { right: 5%; }
  32% { right: 6%; }
  33% { right: 5%; }
  34% { right: 6%; }

  40% { right: 6%; }
  41% { right: 5%; }
  42% { right: 6%; }
  43% { right: 5%; }
  44% { right: 6%; }
  45% { right: 5%; }
  46% { right: 6%; }
  47% { right: 5%; }
  48% { right: 6%; }
  49% { right: 5%; }
  50% { right: 6%; }
  51% { right: 5%; }
  52% { right: 6%; }
  53% { right: 5%; }
  54% { right: 6%; }
  55% { right: 5%; }
  56% { right: 6%; }
  57% { right: 5%; }

  62% { right: 6%; }
  63% { right: 5%; }
  64% { right: 6%; }
  65% { right: 5%; }
  66% { right: 6%; }
  67% { right: 5%; }
  68% { right: 6%; }
  69% { right: 5%; }
  70% { right: 6%; }
  71% { right: 5%; }
  72% { right: 6%; }
  73% { right: 5%; }
  74% { right: 6%; }
  75% { right: 5%; }
  76% { right: 6%; }
  77% { right: 5%; }
  78% { right: 6%; }

  84% { right: 6%; }
  85% { right: 5%; }
  86% { right: 6%; }
  87% { right: 5%; }
  88% { right: 6%; }
  89% { right: 5%; }
  90% { right: 6%; }
  91% { right: 5%; }
  92% { right: 6%; }
  93% { right: 5%; }
  94% { right: 6%; }
  97% {right: 5%; bottom: 5%;}
  100% {bottom: -25vh;}
 }

 @keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
 }

 .x-button {
  position: fixed;
  bottom: 65vh;
  right: 5%;
  height: 3vh;
  width: 3vh;
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: none;
  color: black;
  border-radius: 5vh;
  padding-bottom: 1.7%;

 }

 @media (max-width: 768px) {
  .top-bot-icon {
    top: 17vh;
    left: 0;
    height: 15vh;
    width: 15vh;
  }
  .x-button {
    top: 19vh;
    right: 5vw;
    height: 5vh;
    width: 5vh;
    font-size: 4vh;
    padding: 0;
  }

  .chatBot {
    width: 90% !important;
    top: 25vh !important;
    left: 5% !important;
    right: 5% !important;
    height: 70vh !important;
  }

  .top-logo {
    top: 25vh;
    right: 6vw;
    height: 6vh;
    width: 6vh;
  }

  .bot-message {
    width: 90%;
    margin-right: 10% !important;
  }

  .input-user {
    width: 65%;
    right: 28%;
  }
  .send-btn {
    width: 20%;
    right: 7%;
    bottom: 13%;
  }

  .bottom {
    width: 90%;
  }

  .chatBot-btn {
    height: 10vh;
    width: 17.5vh;
  }
 }