@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
.monthly-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  max-width: 1600px;
}

.monthly-photos h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #333;
  transition: color 0.3s ease;
}

.carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  cursor: grab;
  padding: 50px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(57, 146, 16, 0.1);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.insta {
  cursor: pointer;
}

.carousel:active {
  cursor: grabbing;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-track {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post {
  max-width: 350px;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.post-header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.username {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.post-image {
  width: 350px;
  height: 300px;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-actions {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}

.actions-left {
  display: flex;
  gap: 15px;
}

.actions-left i,
.bx-bookmark {
  font-size: 26px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.actions-left i:hover,
.bx-bookmark:hover {
  transform: scale(1.1);
  color: #ff7043;
}

.bx-heart:hover {
  color: red !important;
}

@media (max-width: 420px) {
  .post {
    max-width: 300px;
  }
  .post-image {
    width: 295px;
    height: 250px;
  }
}
