.testimonial {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  padding: 10px;
}

.testimonial-text h2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.right-image img,
.left-image img {
  height: 250px;
  object-fit: cover;
}

.right-image {
  text-align: right;
}

.left-image {
  text-align: left;
}

@media (max-width: 1000px) {
  .right-image img,
  .left-image img {
    height: 200px;
  }
}

@media (max-width: 750px) {
  .right-image img,
  .left-image img {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .right-image img,
  .left-image img {
    height: 100px;
  }
}
